#home{
    border: 1px solid black;
    height: 90vh;
}
#homeMainTxt{
    position: relative;
    top: 15vh;
}
#homeSubTxt{
    width: 45%;
    font-size: 20px;
    position: relative;
    top: 17vh;
    color: rgba(0, 0, 0, 0.641);
}

#techStack{
    font-size: 20px;
    height: 11vh;
    position: relative;
    top: 25vh;
}

.techIcon{
    height: 70px;
    margin-left: 3%;
    display: inline;
    background-color: white;
} 
.navIcon{
    border-radius: 10px;
    float: left;
    margin-left: 1%;
    margin-bottom: .4%;
    height: 4vh;
}
.navIcon:hover{
    border-radius: 10px;
    scale: 1.1;
    box-shadow: -4px 4px rgba(173, 216, 230, 0.815);
}

.techIcon:hover{
    border-radius: 10px;
    scale: 1.15;
    box-shadow: -8px 8px lightblue;
}

#scrollDown{
    height: 9vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
}
.aboutContainer{
    border:1px solid black;
    height: 93vh;
}
.aboutContent{
    position: relative;
    top: 5vh;
}
.projectContainer{
    margin-top: 60%;
    float: right;
    height: 40vh;
    width: 50%;
    border:1px solid black;
}
#scrollDownIcon{
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
}